.brand {
  max-width: 25rem;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
  svg {
    width: 10rem;
  }

  h1 {
    font-size: clamp(2.3rem, 8vw, 3.441rem);
    font-weight: 600;
  }

  p {
    font-size: 18px;
    font-style: italic;
  }


}
